<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Крестики-нолики{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <div>
            <h1>{% block header %}Крестики-нолики{% endblock header %}</h1>
        </div>
        {% if user.is_authenticated %}
            <div>
                <a href="{% url 'logout' %}"><button class="login-button">Выход</button></a>
                <div id="stats-container"></div>
            </div>
        {% else %}
            <a href="{% url 'login' %}"><button class="login-button">Вход</button></a>
        {% endif %}
    </header>

    {% block content %}
    {% endblock content %}

    <footer>
        <p>&copy; 2024 Крестики-нолики. Все права защищены.</p>
    </footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Функция для загрузки статистики побед и поражений
        function loadStats() {
            $.get('/get_stats/', function(data) {
                // Отображение статистики в контейнере
                $('#stats-container').html('Побед: ' + data.wins + ' | Поражений: ' + data.losses);
            });
        }

        // Загрузка статистики при загрузке страницы
        loadStats();

        // Обновление статистики после выхода из системы
        $('#logout-button').click(function() {
            loadStats();
        });
    });
</script>

</body>
</html>
