<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой веб-сайт{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <h1>{% block header %}Добро пожаловать на мой веб-сайт!{% endblock header %}</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><button class="login-button">Выход</button></a>
        {% else %}
            <a href="{% url 'login' %}"><button class="login-button">Вход</button></a>
        {% endif %}
    </header>

    {% block content %}
    {% endblock content %}

    <footer>
        <p>&copy; 2024 Мой веб-сайт. Все права защищены.</p>
    </footer>

</body>
</html>
