<!-- play_with_human.html -->
{% extends 'base.html' %}

{% block content %}

    <main>
        <div class="tic-tac-toe-board">
            {% for cell_value in board %}
                <div class="cell {% if cell_value %}non-clickable{% endif %}" data-value="{{ cell_value }}">{{ cell_value }}</div>
            {% endfor %}
        </div>
        <p>Ход игрока: {{ player }}</p>
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var cells = document.querySelectorAll('.cell');
            var currentPlayer = '{{ player }}';

            cells.forEach(function(cell) {
                cell.addEventListener('click', function() {
                    if (!cell.classList.contains('non-clickable') && cell.innerText === '') {
                        cell.innerText = currentPlayer;
                        cell.classList.add('non-clickable');

                        // Проверка на выигрыш (замените условие на свою логику)
                        if (checkWin(currentPlayer)) {
                            alert("Поздравляем. Вы выиграли!");
                        } else if (checkTie()) {
                            alert("Ничья!");
                        } else {
                            // Смена игрока
                            currentPlayer = currentPlayer === 'X' ? 'O' : 'X';
                        }
                    }
                });
            });

            function checkWin(player) {
                var winConditions = [
                    [0, 1, 2], [3, 4, 5], [6, 7, 8],  // Горизонтальные линии
                    [0, 3, 6], [1, 4, 7], [2, 5, 8],  // Вертикальные линии
                    [0, 4, 8], [2, 4, 6]              // Диагональные линии
                ];

                return winConditions.some(function(condition) {
                    return condition.every(function(index) {
                        return cells[index].innerText === player;
                    });
                });
            }

            function checkTie() {
                 return Array.from(cells).every(function(cell) {
                    return cell.innerText !== '';
                });
            }
        });
    </script>

{% endblock content %}
